:root {
  /* Default Theme */
  --links: #43b6da;
  --mainBG: #fffcf0;
  --navBG: #f1ebb3;
  --navText: #4b4723;
  --headerText: #4b4723;
  --forumHeaderBG: #e9d8b4;
  --subforumheaderBG: #e9e4b4;
  --postText: #4b4723;
  --postBG: #fff8e6;
  --postHover: #fdf3db;
  --pinHover: #f7edd5;
  --authorColor: #6b2f2f;
  --newPostText: #4c9ca1;
  --newPostBorder: #ccc292;
  --newPostBG: #fdf4dd;
  --footerBG: #f1ebb3;
  
    /* Dark Theme */
    /* --links: #d37426;
    --mainBG: #222;
    --navBG: #2b2b2b;
    --navText: #e0cec4;
    --headerText: #3a3938;
    --forumHeaderBG: #e29555;
    --subforumheaderBG: #80532c;
    --postText: #e4af85;
    --postBG: #2b2b2b;
    --postHover: #3b3b3b;
    --pinHover: #4b4b4b;
    --authorColor: #8b4220;
    --newPostText: #d1b77f;
    --newPostBorder: #965e0f;
    --newPostBG: #312820;
    --footerBG: #2b2b2b; */

    /* Hacker Theme */
    /* --links: #43da9b;
    --mainBG: #f0fff7;
    --navBG: #b3f1b8;
    --navText: #4b4723;
    --headerText: #4b4723;
    --forumHeaderBG: #b4e9d7;
    --subforumheaderBG: #d7e9b4;
    --postText: #4b4723;
    --postBG: #f4ffe6;
    --postHover: #fdf3db;
    --pinHover: #f7edd5;
    --authorColor: #6b2f2f;
    --newPostText: #4c9ca1;
    --newPostBorder: #92ccc4;
    --newPostBG: #ddfdf5;
    --footerBG: #b3f1e4; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set default transition durations */
* {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  margin: 0;
}
.header { font-family: 'Oswald', sans-serif; font-weight: 400; }
a { color: var(--links); text-decoration: none;}
a:hover { text-decoration: underline; }

button:hover { transform: scale(1.025); cursor: pointer; }
.bare-btn {
  display: inherit;
  appearance: none;
  padding: inherit;
  font: inherit;
  text-align: inherit;
  background-color: transparent;
  border: none;
}
.bare-btn:hover { transform: scale(1.005); }

.mt-0 { margin-top: 0; }
.ml-auto {margin-left: auto; }
.ml-1 {margin-left: 0.9em; }
.ml-2 {margin-left: 1.8em; }
.mb-1 { margin-bottom: 1em; }
.px-1 { padding-left: 0.5em; padding-right: 0.5em; }
.pt-1 { padding-top: 0.5em; }
.pl-01 { padding-left: 0.1em; }
.pl-1 { padding-left: 0.5em; }
.pr-01 { padding-right: 0.1em; }
.pr-1 { padding-right: 0.5em; }

.App {
  font-size: calc(8.5px + 2vmin);
}
.container {
  position: relative;
  padding: 8px 12px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-md {
  position: relative;
  padding: 8px 12px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  /* padding: 12px; */
  margin-bottom: 1em;
  border-radius: 8px;
}
.pos-relative { position: relative; }
.inline-block { display: inline-block; }
.row { width: 100%; }
.flex-row { 
  display: flex;
  align-items: center;
}
.flex-col { 
  display: flex;
  flex-direction: column;
}
.inline-flex { 
  display: inline-flex;
  align-items: center;
}
.flex-wrap { flex-wrap: wrap; }
.align-items-base { align-items: baseline !important; }

.hover-red:hover { color: #c75243; }
.text-bold { font-weight: bold; }
.text-camel { text-transform: capitalize; }
.text-caps { text-transform: uppercase; }

.text-center { text-align: center; }
.text-right{ text-align: right; }

.text-home { color: var(--navText); text-decoration-color: #43b6da !important; }
.text-status { color: #3c6963; background-color: #dcf1e585; border-radius: 2px; }
.text-status-gray { color: #585147; background-color: #838b862c; border-radius: 2px; }
.text-black { color: #4b4723; text-decoration: none !important; }
.text-red { color: #c75243; }
.text-grey { color: #808080; }
.text-info { color: #555; margin-block-start: 0.1em; }
.text-suspended { 
  color: #8a2b2b;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #fcdfdf;
  border-bottom: 1px solid #eecccc;
  border-radius: 4px;
}

.size-14 { font-size: 0.76em; }
.size-16 { font-size: 0.86em; }
.size-18 { font-size: 0.96em; }

.z-2 { z-index: 2; position: relative; }

.bg-navbar-wave {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  /* background-image: url(../images/navbarBG.jpg); */
  background-size: cover;
  opacity: 0;
  z-index: 1;
}
.bg-navbar { position: relative; background-color: var(--navBG); color: var(--navText); }
.bg-main { background-color: var(--mainBG); min-height: 56.1vh; } /* #fdfaee */
.blend-nav-main {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(var(--navBG), var(--mainBG));
}
.blend-main-footer {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(var(--mainBG), var(--footerBG));
}
.footer {
  font-size: 0.8em;
  padding: 4px 12px;
  color: #969183;
  background-color: var(--footerBG);
}
.App-logo {
  display: inline-block;
  padding: 2px;
  width: auto;
  height: 28px; width: 28px;
  pointer-events: none;
}

.modal {
  display: block;
  position: fixed;
  top: 0; left: 0;
  font: inherit;
  text-align: inherit;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 999;
}
.modal-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  color: transparent !important;
  background-color: transparent !important;
  border: none;
  outline: none;
  z-index: 1000;
}
.modal-content {
  position: relative;
  top: 50%;
  color: var(--navText);
  text-shadow: none;
  background-color: #fff;
  padding: 12px;
  min-height: 220px;
  max-width: 420px; max-height: 620px;
  border-radius: 8px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1001;
  transform: translateY(-50%);
}
.modal-btn {
  display: block;
  padding: 6px 18px;
  background-color: #fff;
  border: 1px solid #4c9ca1;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

.errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(131, 29, 29);
  min-height: 120px;
}
.errors-container div::before {
  content: "• ";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries */

/* Medium devices (landscape tablets, 720px - 1023px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .text-center-sm { text-align: inherit; justify-content: inherit; }
}
/* laptop devices (landscape tablets, 1024px - 1439px) */
@media only screen and (min-width: 1024px) {
  .App { font-size: calc(6px + 2vmin); }
  .text-center-sm { text-align: inherit; justify-content: inherit; }
  .App-logo { height: 40px; width: 40px; }
  .px-1 { padding-left: 0.9em; padding-right: 0.9em; }
  .pt-1 { padding-top: 0.9em; }
  .pl-01 { padding-left: 0.2em; }
  .pl-1 { padding-left: 0.9em; }
  .pr-01 { padding-right: 0.2em; }
  .pr-1 { padding-right: 0.9em; }
  .container { padding: 8px 4px; }
}