h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  margin: 0;
}
.header { font-family: 'Oswald', sans-serif; font-weight: 400; }
a { color: #43b6da; text-decoration: none;}
a:hover { text-decoration: underline; }

.mt-0 { margin-top: 0; }
.mb-1 { margin-bottom: 1em; }
.pt-1 { padding-top: 0.5em; }

.App {
  font-size: calc(8px + 2vmin);
}
.container {
  padding: 8px 12px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-md {
  padding: 8px 12px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  /* padding: 12px; */
  margin-bottom: 1em;
  border-radius: 8px;
}
.pos-relative { position: relative; }
.inline-block { display: inline-block; }
.flex-row { 
  display: flex;
  align-items: center;
}
.align-items-base { align-items: baseline !important; }

.text-center-sm { 
  text-align: center;
  justify-content: center;
}
.text-blue { color: #f3705f; }
.text-grey { color: grey; }

.z-2 { z-index: 2; position: relative; }

.bg-navbar-wave {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  /* background-image: url(../images/navbarBG.jpg); */
  background-size: cover;
  opacity: 0;
  z-index: 1;
}
.bg-navbar { position: relative; background-color: #f1ebb3; color: #4b4723; }
.bg-main { background-color: #fffcf0; } /* #fdfaee */
.blend-nav-main {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(#f1ebb3, #fffcf0);
}
.blend-main-footer {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(#fffcf0, #f1ebb3);
}
.footer {
  font-size: 0.8em;
  padding: 4px 12px;
  color: #969183;
  background-color: #f1ebb3;
  text-align: right;
}
.App-logo {
  display: inline-block;
  padding: 2px;
  width: auto;
  height: 28px; width: 28px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries */

/* Medium devices (landscape tablets, 720px - 1023px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .text-center-sm { text-align: inherit; justify-content: inherit; }
}
/* laptop devices (landscape tablets, 1024px - 1439px) */
@media only screen and (min-width: 1024px) {
  .App { font-size: calc(6px + 2vmin); }
  .text-center-sm { text-align: inherit; justify-content: inherit; }
  .App-logo { height: 38px; width: 38px; }
  .pt-1 { padding-top: 0.9em; }
  .container { padding: 8px 4px; }
}