.text-author { color: #684d4d; font-weight: 700;}

#BlogPage .header-title {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  background-color: #e9e4b4;
  margin-bottom: 0.5em;
}
#BlogPage .header-title button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#BlogPage .forum-section {
  /* border: 1px solid #e9e4b4; */
  /* background-color: #fffbf5; */
  margin-bottom: 1em;
  /* box-shadow: 0px 6px 12px #e9e4b4; */
}

#BlogPage .pinned-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
}
#BlogPage .pinned-post {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  min-height: 140px; max-height: 140px;
  min-width: auto; max-width: 420px;
  background-color: #fff8e6;
  border-right: 2px solid khaki;
  border-bottom: 2px solid khaki;
  border-radius: 12px;
  margin-bottom: 6px;
  cursor: pointer;
}
#BlogPage .pinned-post:hover {
  /* background-color: #f8e4b0;
  border-right: 2px solid #cec46e;
  border-bottom: 2px solid #cec46e; */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
#BlogPage .pinned-post-title {
  font-size: 16px;
  border-radius: 0 8px 0px 0;
  margin-bottom: 0px;
}
#BlogPage .pinned-post-author {
  font-size: 15px;
  border-radius: 0 0px 8px 0;
  margin-bottom: 4px;
}
#BlogPage .pinned-post-body {
  font-size: 17px;
}
#BlogPage .pinned-post-date {
  color: #888;
  font-size: 14px;
}

#BlogPage .post {
  display: flex;
  flex-direction: column;
  padding: 6px;
  min-height: 40px;
  background-color: #fff8e6;
  border-right: 2px solid khaki;
  border-bottom: 2px solid khaki;
  border-radius: 6px;
  cursor: pointer;
}
#BlogPage .post:hover {
  background-color: #fdf3db;
  border-right: 2px solid #cec46e;
  border-bottom: 2px solid #cec46e;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
#BlogPage .post-title {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 4px;
  margin-bottom: 0;
}
#BlogPage .post-author {
  color: #684d4d;
  font-size: 0.8em;
  padding: 0 4px;
  margin-bottom: 0;
}
#BlogPage .post-body {
  font-size: 15px;
  padding: 0 4px;
}
#BlogPage .post-date {
  color: #888;
  font-size: 13px;
  padding: 0 4px;
}

#BlogPage .post-section .paginate{
  display: flex;
  align-items: center;
  padding: 2px 12px;
}
#BlogPage .post-section .paginate button{
  padding: 4px 14px;
  color: #fff;
  background-color: #4b463e;
  border-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
#BlogPage .post-section .paginate span{
  font-size: 0.8em;
  padding: 4px 12px;
}
/* Media queries */

/* Medium devices (landscape tablets, 720px - 1023px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  #BlogPage .pinned-post:last-child { border-right: none; }
  #BlogPage .post { flex-direction: row; align-items: center; }
  #BlogPage .post-title { font-size: 0.7em; }
  #BlogPage .post-author { font-size: 0.6em; }
}
/* laptop devices (landscape tablets, 1024px - 1439px) */
@media only screen and (min-width: 1024px) {
  #BlogPage .pinned-post {
    min-height: 140px; max-height: 140px;
    min-width: 420px; max-width: 420px;
  }
  #BlogPage .pinned-post:last-child {
    border-left: 2px solid khaki;
    border-right: none;
  }
  #BlogPage .pinned-post-title { font-size: 20px; }

  #BlogPage .post { flex-direction: row; align-items: center; }
  #BlogPage .post-title { font-size: 0.7em; }
  #BlogPage .post-author { font-size: 0.6em; }
  #BlogPage .post-body { font-size: 17px; }
  #BlogPage .post-date { font-size: 14px; }
}